<p>Bonjour, </p>
<p>Un contact vient d'etre enregistré dans votre département</p>
<p>Veuillez trouvez ci-dessous les informations du contact:</p>
<p>Nom : {{  lastname }}, </p>
<p>Prénom : {{ firstname }},</p>
<p>E-mail : {{ email }} ,</p>
<p>Message : {{ message }}</p>
<p>Bonne réception,</p>
<p>Cordialement, Michel</p>